.container {
    min-height: 100%;
    display: flex;
    align-items: center;
}

section {
    width: 100%;
}
   
.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}